/*////// MEDIA //////*/

img, video, audio, iframe, table form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*////// LAYOUT STYLES //////*/

.row {
  margin-bottom: 25px;
  margin-top: 25px;
}

/*////// BACKGROUNDS //////*/

.light-fade {
  background: rgb(138,213,218); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(138,213,218,1) 0%, rgba(186,233,236,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(138,213,218,1) 0%,rgba(186,233,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(138,213,218,1) 0%,rgba(186,233,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ad5da', endColorstr='#bae9ec',GradientType=0 ); /* IE6-9 */
}

.error_message {
  color: red;
}

.field_with_errors {
  color: red;
}

.field_with_errors input {
  background-color: #ffa7a1;
}

.field_with_errors select {
  background-color: #ffa7a1;
}
